name: Continouos Integration

on:
  push:
    branches:
      - main
      - develop
      - "feature/**"
      - "release/**"
  pull_request:
    branches:
      - main
      - develop

jobs:
  build: # (python) install deps, basic import check, python sanity
    runs-on: ubuntu-latest
    steps:
      - name: Downlaod repo into runner
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Import sanity check
        run: |
          export PYTHONPATH="$(pwd)"
          python -c "from app.main import app; print('import ok')"

  test: # run pytest
    runs-on: ubuntu-latest
    needs: build

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: registration_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d registration_db"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python with pip cache
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: |
            requirements.txt

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        env:
          DATABASE_URL: postgresql://postgres:postgres@localhost:5432/registration_db
        run: |
          export PYTHONPATH="$(pwd)"
          python -m pytest -q

  docker-build: # build container, deployable output
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx (container driver)
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Build Docker image (with cache)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: cicd-registration:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
